---
import type { GetStaticPaths } from "astro";
import { getEntry, getCollection } from "astro:content";
import Header from "../../components/Header.astro";
import Layout from "../../layouts/Layout.astro";
import Section from "../../components/Section.astro";
import FormattedDate from "../../components/FormattedDate.astro";

export const getStaticPaths = (async () => {
    const posts = await getCollection('posts');

    return posts.map(({ slug }) => {
        return {
            params: { slug }
        }
    });
}) satisfies GetStaticPaths;

const post = await getEntry('posts', Astro.params.slug)
const author = await getEntry('authors', post.data.author.id);
const { Content } = await post.render();
---
<Layout title={post.data.title}>
    <Header>
        <a class="absolute top-0 left-0 px-4 py-2.5 border-1 border-t-0 border-l-0 border-gray-200 dark:border-gray-800 hover:bg-gray-900 hover:c-gray-200 transition" href="/blog">Return to blog</a>
        <h1 class="text-20 leading-20">{post.data.title}</h1>
        {post.data.description ?? <p>{post.data.description}</p>}
        <FormattedDate date={new Date(post.data.pubDate)} />
    </Header>
    <main>
        <Section source={`by ${author.data.name}`} fullWidthBorder class="content-wrapper">
            <Content />
        </Section>
    </main>
</Layout>