---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import CountUp from '../components/CountUp.astro';
import Section from '../components/Section.astro';
import { getCollection } from 'astro:content';
import ProjectCard from '../components/ProjectCard.astro';
import SectionSpacer from '../components/SectionSpacer.astro';
import StatsGrid from '../components/StatsGrid.astro';
import InvestorGrid from '../components/InvestorGrid.astro';

const projects = await getCollection('projects');
---

<Layout title="Welcome to Astro.">
	<Header gridBg>
		<small class="small">can you believe this text is so small?</small>
		<h2 class="text-12 leading-12 lg:text-20 lg:leading-20"><span class="font-mono">NAID</span> - A template for doers</h2>
		<p class="subtitle w-85% lg:w-50% mx-auto mt-5">A short manifesto about how this project is going to change the world.</p>
	</Header>
	<main>
		<Section index source="projects.json" fullWidthBorder>
			<h2 class="title">Projects</h2>
			<p class="subtitle-small">A short blurb about the projects you are deciding to list here and what they are about. Make it pithy and worth investing in.</p>
			<ul class="my-5 project-list ignore-content-container border-y-1 border-y-gray-200 border-y-dotted">
				{projects.map((proj: any) => <ProjectCard {...proj.data} />)}
			</ul>
			<div class="grid md:grid-cols-[1fr_250px] py-12.5">
				<div class="grid-col-1 pr-12.5">
					<h3 class="mb-3 project-title">Mission</h3>
					<p class="subtitle-small">Another pithy statement about the nature of these projects. Talk more about how they're beneficial to all developers/users and really underline how helpful they are in improving DX/UX.</p>
				</div>
				<div class="font-mono">
					<small>$ cmd to run</small><br/><br/>
					<small>{'{An animation of some kind.}'}</small>
				</div>
			</div>
		</Section>
		<SectionSpacer size="md" />
		<Section fullWidthBorder={false}>
			<h2 class="text-xl my-10">Our projects are trusted. By everyone? You bet! Names you recognize? Probably! Used all over the world? Absolutely!</h2>
		</Section>
		<StatsGrid entryName='downloads' />
		<SectionSpacer size="md" />
		<Section variant="dark" index source="statement.md" fullWidthBorder>
			<div class="lg:w-[60%] md:w-[70%] mx-auto">
				<h2 class="title">Belief Statement</h2>
				<p class="subtitle-mall">We believe in things that exist and are pragmatic. This can include buzzwords that make investors feel all warm inside.</p>
				<ul class="flex flex-col gap-row-3 mt-3 subtitle-small">
					<li><strong class="text-[1.2em]">Teamwork:</strong> Things and people should work together seamlessly for a better world and a better DX</li>
					<li><strong class="text-[1.2em]">Performant:</strong> If you're not first you're last - some guy on TV once</li>
					<li><strong class="text-[1.2em]">Even Tempered:</strong> Too blessed to be stressed. And too stressed to let the little things get to us</li>
					<li><strong class="text-[1.2em]">On Kilter:</strong> When the going gets tough, the tough politely ask the weak to step up like just a little bit, if you don't mind</li>
				</ul>
			</div>
		</Section>
		<SectionSpacer size="md" />
		<Section index source="investors.md" fullWidthBorder>
			<div class="pb-12.5">
				<h2 class="title">People who give us money!</h2>
				<p class="subtitle-small md:w-[50%]">There's literally dozens of them, and they all want to be listed below to get some sort of credit for our work.</p>
			</div>
			<InvestorGrid />
		</Section>
		<SectionSpacer />
		<Section index source="Component.framework" fullWidthBorder variantInside="dark">
			<div class="grid lg:grid-cols-[4fr_1fr] place-items-center gap-5">
				<h2 class="text-pretty title text-8 leading-8 font-bold c-gray-800 dark:c-gray-100">Interested in this theme? Like the look of it and need more in your life?<br/><span class="c-gray-500 dark:c-gray-300 text-[0.9em]">We know! It's pretty great.</span></h2>
				<div>
					<a href="https://github.com/studiolumina/naid" class="block fw-bold bg-gray-800 c-gray-100 text-5 text-center py-4 px-7">Visit Repo</a>
				</div>
			</div>
		</Section>
	</main>
</Layout>
