---
import Layout from "./Layout.astro";
import Section from "../components/Section.astro";
import Header from '../components/Header.astro';
---
<Layout title='About'>
    <Header>
        <h1 class="title">So you want to learn more about the <code class="font-mono">NAID</code> theme?</h1>
    </Header>
    <main class="content-wrapper">
        <Section>
            <slot/>
        </Section>
    </main>
</Layout>